@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Slabo+27px');

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#react {
  color: #74B9FF;
}

#game {
  display: flex;
  font-family: 'Titillium Web', sans-serif;
  align-items: center;
  flex-direction: column;
  background: #333945;
  color: #fff;
  min-height: 100vh;
}

#head {
  font-size: 3rem;
  margin: 1.5rem;
  text-align: center;
  color: #F3B63A;
  font-weight: 600;
}

#board {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid #F3B63A;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  animation: glow 1s;
  cursor: pointer;
  font-family: 'Slabo 27px', serif;
}


#status{
  margin: 1rem 0;
  height: 2rem;
  font-size: 2rem;
  animation: glow 1s;
  font-family: 'Chakra Petch', sans-serif;
}

.play-btn{
  padding: 0.5rem;
  border: 1px solid #fff;
  font-size: 1.5rem;
  margin: 1rem 0;
  background: #2B2B52;
  color: #fff;
  /* border-radius: 5px; */
}

.AI-color{
  color: #74B9FF;
}


.square:nth-child(7),.square:nth-child(8),.square:nth-child(9) {
  border-bottom: 0;
} 
.square:nth-child(1),.square:nth-child(2),.square:nth-child(3) {
  border-top: 0;
}
.square:nth-child(1), .square:nth-child(4),.square:nth-child(7) {
 border-left: 0;
}
.square:nth-child(3), .square:nth-child(6),.square:nth-child(9) {
  border-right: 0;
 }

 .square:nth-child(1) {

  border-radius: 0px 0px 5px 0px;

 }
 .square:nth-child(2) {

  border-radius: 0px 0px 5px 5px;

 }
 .square:nth-child(3) {

  border-radius: 0px 0px 0px 5px;

 }
 .square:nth-child(4) {

  border-radius: 0px 5px 5px 0px;

 }
 .square:nth-child(5) {

  border-radius: 5px 5px 5px 5px;

 }
 .square:nth-child(6) {

  border-radius: 5px 0px 0px 5px;

 }
 .square:nth-child(7) {

  border-radius: 0px 5px 0px 0px;

 }
 .square:nth-child(8) {

  border-radius: 5px 5px 0px 0px;

 }
 .square:nth-child(9) {

  border-radius: 5px 0px 0px 0px;

 }
@keyframes glow{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

#tic {
color: coral;
}

#tac {
color: royalblue;
}

#toe {
color: yellowgreen;
}